{erl_opts, [debug_info]}.
{deps, [
  {cowboy, "2.9.0"}
]}.

{relx, [{release, {devon, "0.1.0"},
         [devon,
          sasl]},
        {mode, dev},
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true},
        {generate_start_script, true}
]}.

{profiles, [{prod, [{relx,
                     [{dev_mode, false},
                      {include_src, false},
                      {extended_start_script, true},
                      {generate_start_script, true}]}]}]}.
